.breadcrumbs {
    height: 50px;
    padding-left: 14.8%;
    @media screen and (max-width: 900px) {
        padding-left: 5%;
    }
    @include backColor(gray_color_3);
    span {
        height: 50px;
        line-height: 50px;
        padding: 0px 1px;
        font-size: 12px;
    }
    a {
        text-decoration: solid;
        font-size: 12px;
        span {
            // 最下層のパンくず以外に下線を付与する
            text-decoration: underline;
        }
    }
    > span:first-child {
        padding-left: 0px;
    }
}

// パンくずリストが長い場合は指定の長さ以上は非表示にする
.breadcrumbs span[property="name"] {
    display: inline-block;
    padding: 0;
    margin-top: -3px;
    vertical-align: middle;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        max-width: 400px;
        @media screen and (max-width: 640px) {
            max-width: 100px;
        }
    }
}