* {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @include color(navy_color);
}

body {
    position: relative;
    padding-top: 80px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

li {
    list-style: none;
}

p {
    font-size: 16px;
}

a {
    color: #FFFFFF;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

.flex {
    @include flex;
}

.button {
    display: inline-block;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.wrapper {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 26px;
    }
}

@media screen and (max-width: 640px) {
    h1, h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 26px;
    }
    p, a {
        font-size: 14px;
    }
    .wrapper {
        width: 90%;
    }
}