.single_blog {
    margin-top: 60px;
    margin-bottom: 70px;
    .flex {
        @media screen and (max-width: 640px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.single_blog_left {
    overflow: hidden;
    width: calc(100% - 270px - 36px);
    @media screen and (max-width: 900px) {
        width: calc(100% - 200px - 36px);
    }
    @media screen and (max-width: 640px) {
        width: 90%;
    }
}

.sidebar {
    width: 270px;
    @media screen and (max-width: 900px) {
        width: 200px;
    }
    @media screen and (max-width: 640px) {
        width: 90%;
    }
}

.blog_content {
    .tag {
        font-size: 12px;
        text-align: center;
        padding: 10px 25px;
        @include backColor(navy_color);
        @include color(white_color_1);
    }
    h2, h3, h4, h5, h6, p, table, dl, figure, ul, ol {
        margin-bottom: 30px;
    }
    h1 {
        font-size: 28px;
        line-height: 42px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22px;
        &::before {
            content: "";
            display: inline-block;
            width: 4px;
            height: 28px;
            margin-right: 10px;
            transform: translateY(5px);
            @include backColor(navy_color);
        }
    }
    p {
        line-height: 24px;
    }
    dt {
        margin-top: 20px;
        font-weight: bold;
    }
    dd {
        margin-left: 30px;
    }
    time {
        font-size: 16px;
        @include color(navy_color);
        @media screen and (max-width: 640px) {
            transform: translateY(-10px);
            font-size: 14px;
        }
    }
    figure {
        width: 100%;
        height: 370px;
        @media screen and (max-width: 640px) {
            height: 250px;
        } 
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }
    blockquote {
        padding: 27px 27px 27px 17px;
        margin-bottom: 30px;
        @include backColor(gray_color_3);
        &::before {
            content: "\“";
            display: inline-block;
            position: absolute;
            width: 46px;
            height: 46px;
            @include color(quote);
            transform: translateY(-20px);
            font-size: 90px;
        }
        p {
            position: relative;
            display: inline-block;
            margin-left: 60px;
            line-height: 24px;
            margin-bottom: 0px !important;
        }
    }
    ul {
        margin-left: 30px;
        li {
            line-height: 24px;
            @include color(orange_color);
            padding-left: 0px;
            text-indent: -0.6em; /*インデントの調整*/
            @include color(navy_color);
            &::before {
                content: '';
                position: relative;
                left: -20px;
                display: inline-block;
                width: 11px;
                height: 11px;
                border-radius: 100%;
                @include backColor(orange_color);
            }
            ul {
                margin-bottom: 0px;
            }
        }
    }
    a {
        @include color(orange_color);
        font-size: 18px;
        display: inline-block;
    }
    > .flex {
        @media screen and (max-width: 640px) {
            flex-direction: row;
        }
    }
}

.bottombar {
    margin-top: 60px;
    @media screen and (max-width: 640px) {
        margin-bottom: 60px;
    }
    h2 {
        font-size: 26px;
        @media screen and (max-width: 640px) {
            text-align: center;
        }
    }
    article {
        margin-top: 30px;
        .blog_image {
            width: 210px;
            height: 128px;
            position: relative;
            @media screen and (max-width: 640px) {
                width: 300px;
                height: 180px;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                @include backColor(navy_color);
                @include color(white_color_1);
                padding: 7px 12px;
                font-size: 12px;
            }
        }
        .blog_text {
            text-align: left;
            width: calc(100% - 210px - 32px);
            @media screen and (max-width: 640px) {
                width: 300px;
            }
            time {
                font-size: 16px;
                height: 16px;
                line-height: 16px;
                display: inline-block;
                margin-bottom: 30px;
                @media screen and (max-width: 640px) {
                    font-size: 14px;
                    height: 14px;
                    line-height: 14px;
                    margin: 10px 0px;
                }
            }
            h3 a {
                line-height: 39px;
                display: block;
                @include color(navy_color);
                font-size: 18px;
                line-height: 27px;
                height: 180px;
                @media screen and (max-width: 640px) {
                    height: auto;
                }
            }
        }
    }
}

.connect_article {
    h2 {
        width: 100%;
        height: 63px;
        @include backColor(navy_color);
        @include color(white_color_1);
        font-size: 21px;
        text-align: center;
        line-height: 63px;
    }
    .connect_article_container {
        margin-top: 30px;
        margin-bottom: 50px;
        article {
            margin-top: 30px;
            .blog_image {
                width: 100px;
                height: 70px;
                @media screen and (max-width: 900px) {
                    margin-top: 5px;
                    width: 90px;
                    height: 63px;
                }
                @media screen and (max-width: 640px) {
                    width: 300px;
                    height: 210px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .blog_text {
                text-align: left;
                width: calc(100% - 100px - 17px);
                @media screen and (max-width: 900px) {
                    width: calc(100% - 90px - 10px);
                }
                @media screen and (max-width: 640px) {
                    width: 300px;
                }
                p a {
                    font-size: 12px;
                    line-height: 39px;
                    display: block;
                    @include color(navy_color);
                    line-height: 24px;
                    @media screen and (max-width: 640px) {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.category {
    h2 {
        width: 100%;
        height: 63px;
        @include backColor(navy_color);
        @include color(white_color_1);
        font-size: 21px;
        text-align: center;
        line-height: 63px;
    }
    ul {
        margin-top: 30px;
        @media screen and (max-width: 640px) {
            margin-left: 30px;
        }
        li {
            list-style: inside;
            font-weight: bold;
            margin-bottom: 8px;
            a {
                @include color(navy_color);
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
}
